/* CSS Document */
*{
	padding: 0;
	margin: 0;
}
.scroll-downs {
  position: absolute;
  top: 80%;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  z-index: 2;
  width :34px;
  height: 55px;
}
.mousey {
  width: 3px;
  padding: 10px 15px;
  height: 35px;
  border: 2px solid #fff;
  border-radius: 25px;
  opacity: 0.75;
  box-sizing: content-box;
}
.scroller {
  width: 3px;
  height: 10px;
  border-radius: 25%;
  background-color: #fff;
  animation-name: scroll;
  animation-duration: 2.2s;
  animation-timing-function: cubic-bezier(.15,.41,.69,.94);
  animation-iteration-count: infinite;
}
@keyframes scroll {
  0% { opacity: 0; }
  10% { transform: translateY(0); opacity: 1; }
  100% { transform: translateY(15px); opacity: 0;}
}
.bg {
	background-image: url("img/bg.png");
	background-size: cover;
	background-repeat: no-repeat;
	height:100vh;
}
.text-decorate{
	padding-top: 35%;
	padding-left: 20%;
}
.fix-position-1{
	position: absolute;
	z-index: 0;
}

.text-decorate p{
	font-size:20px;
}
.fix-position-2 {
	position: absolute;
	bot:0px;
}

.line {
	position: absolute;
	border-left: 0.5px solid black;
	height: 120px;
	margin-top: 5%
}

.vertical-text {  
	writing-mode: vertical-rl;
	transform:scale(-1);
}

.circle-dark {
	position: absolute;
	z-index: -1;
	right:50px;
}
.content {
	margin: 100px;
}

.resize-text a{
	font-size: 30px;
	color: gray;
	margin-right: 10px;
	text-decoration:none !important;
	
}
.skillbar-container {
  position:relative;
  display:block;
  margin-bottom: 15px;   
  width: 100%;
  background-color: #666463;
  background-color: rgba(255,255,255,.1);
  height:35px;
  height:5px;
}
  
.skills {
  height:35px;
  height:5px;
  width:0px;
}
.bg-color {
	background-color: #FECE51;
	box-shadow:2px 5px 10px grey;
}
.bg-color i{
	font-size:80px;
}
.section.portfolio .filters {
	text-align: center;
	margin-top: 50px;
}

.section.portfolio .filters ul {
	padding: 0;
}

.section.portfolio .filters ul li {
	list-style: none;
	display: inline-block;
	padding: 20px 30px;
	cursor: pointer;
	position: relative;
}

.section.portfolio .filters ul li:after {
	content: '';
	display: block;
	width: calc(0% - 60px);
	position: absolute;
	height: 2px;
	background: #333;
	transition: width 350ms ease-out;
}

.section.portfolio .filters ul li:hover:after {
	width: calc(100% - 60px);
	transition: width 350ms ease-out;
}

.section.portfolio .filters ul li.active:after {
	width: calc(100% - 60px);
}
.section.portfolio .filters ul li a{
	color:gray;
	text-decoration: none !important;
}
.gallery {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.8);
    padding: 40px 10px;
    display: none;
    box-sizing: border-box;
}

.gallery > img {
    max-height: 100%;
    width: auto;
}

.close i {
    position: fixed;
    top: 10px;
    right: 10px;
}
.heading{
	font-size:30px;
}
.text-ul ul{
	list-style: none !important;
}
.text-fix i{
	font-size: 50px;
}
.style-btn {
	border-radius:50px !important;
}
input[type=text] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: none;
  border-bottom: 2px solid #969696;
  outline: none;
}
textarea{
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: none;
  border-bottom: 2px solid #969696;
  outline: none;
}



.text-fix a{
	color:black;
	text-decoration:none !important;
}
.fade-in-right {
	        animation: fade-in-right 1.5s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
			animation: bounce-top 5s infinite alternate-reverse both;
}
@keyframes fade-in-right {
  0% {
    -webkit-transform: translateX(50px);
            transform: translateX(50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}
@keyframes bounce-top {
  0% {
    -webkit-transform: translateY(-45px);
            transform: translateY(-45px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    opacity: 1;
  }
  24% {
    opacity: 1;
  }
  40% {
    -webkit-transform: translateY(-24px);
            transform: translateY(-24px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  65% {
    -webkit-transform: translateY(-12px);
            transform: translateY(-12px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  82% {
    -webkit-transform: translateY(-6px);
            transform: translateY(-6px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  93% {
    -webkit-transform: translateY(-4px);
            transform: translateY(-4px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  25%,
  55%,
  75%,
  87% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    opacity: 1;
  }
}

.animate__heartBeat {
	--animate-duration: 5s;
}
