/* CSS Document */
*{
	padding: 0;
	margin: 0;
}
#mybtn{
	display: none ;
	position: fixed;
	z-index: 99;
	cursor: pointer;
	bottom: 50px;
	right:50px;
	transition: transform .2s;
	background-color: #FEC229 !important;
	border: none !important;
}

.btn-decor:hover{
	transform: scale(1.25);
}
#navbar-spy{
	position: fixed;
	top:-60px;
	transition: top 0.3s;
}
#navbar-spy a{
	color:gray;
}
.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
	color:white !important;
	background-color: #FEC229!important;
}
.scroll-downs {
  position: absolute;
  top: 80%;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  z-index: 2;
  width :34px;
  height: 55px;
}
.mousey {
  width: 3px;
  padding: 10px 15px;
  height: 35px;
  border: 2px solid #fff;
  border-radius: 25px;
  opacity: 0.75;
  box-sizing: content-box;
}
.scroller {
  width: 3px;
  height: 10px;
  border-radius: 25%;
  background-color: #fff;
  animation-name: scroll;
  animation-duration: 2.2s;
  animation-timing-function: cubic-bezier(.15,.41,.69,.94);
  animation-iteration-count: infinite;
}
@keyframes scroll {
  0% { opacity: 0; }
  10% { transform: translateY(0); opacity: 1; }
  100% { transform: translateY(15px); opacity: 0;}
}
.bg {
	background-image: url("img/bg.png");
	background-size: cover;
	background-repeat: no-repeat;
	height:100vh;
}
.text-decorate{
    position: absolute;
    padding-top: 23%;
    padding-left: 11%;
    z-index: 2;
}
.fix-position-1{
	position: absolute;
    z-index: 0;
    padding-top: 0;
    margin-left: 100%;
}

.text-decorate p{
	font-size:20px;
}
.fix-position-2 {
	position: absolute;
	bot:0px;
}

.line {
	position: absolute;
	border-left: 0.5px solid lightgrey;
	height: 120px;
	margin-top: 5%;
}

.vertical-text {  
	writing-mode: vertical-rl;
	transform:scale(-1);
}

.circle-dark {
	position: absolute;
	z-index: -1;
	right:50px;
}
.content {
	margin: 100px;
}

.resize-text a{
	font-size: 30px;
	color: gray;
	margin-right: 10px;
	text-decoration:none !important;
	
}
.skillbar-container {
  position:relative;
  display:block;
  margin-bottom: 15px;   
  width: 100%;
  background-color: #666463;
  background-color: rgba(255,255,255,.1);
  height:35px;
  height:5px;
}
  
.skills {
  height:35px;
  height:5px;
  width:0px;
}
.bg-color {
	background-color: #FECE51;
	box-shadow:2px 5px 10px grey;
}
.bg-color i{
	font-size:80px;
}
.section.portfolio .filters {
	text-align: center;
	margin-top: 50px;
}

.section.portfolio .filters ul {
	padding: 0;
}

.section.portfolio .filters ul li {
	list-style: none;
	display: inline-block;
	padding: 20px 30px;
	cursor: pointer;
	position: relative;
}

.section.portfolio .filters ul li:after {
	content: '';
	display: block;
	width: calc(0% - 60px);
	position: absolute;
	height: 2px;
	background: #333;
	transition: width 350ms ease-out;
}

.section.portfolio .filters ul li:hover:after {
	width: calc(100% - 60px);
	transition: width 350ms ease-out;
}

.section.portfolio .filters ul li.active:after {
	width: calc(100% - 60px);
}
.section.portfolio .filters ul li a{
	color:gray;
	text-decoration: none !important;
}
.gallery {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.8);
    padding: 40px 10px;
    display: none;
    box-sizing: border-box;
}

.gallery > img {
    max-height: 100%;
    width: auto;
}

.close i {
    position: fixed;
    top: 10px;
    right: 10px;
}
.heading{
	font-size:30px;
}
.text-ul ul{
	list-style: none !important;
}
.text-fix i{
	font-size: 50px;
}
.style-btn {
	border-radius:50px !important;
}
input[type=text] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: none;
  border-bottom: 2px solid #969696;
  outline: none;
}
textarea{
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: none;
  border-bottom: 2px solid #969696;
  outline: none;
}



.text-fix a{
	color:black;
	text-decoration:none !important;
}
.fade-in-right {
	        animation: fade-in-right 1.5s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
			animation: bounce-top 5s infinite alternate-reverse both;
}
@keyframes fade-in-right {
  0% {
    -webkit-transform: translateX(50px);
            transform: translateX(50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}
@keyframes bounce-top {
  0% {
    -webkit-transform: translateY(-45px);
            transform: translateY(-45px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(45px);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    opacity: 1;
  }
}
.btn-fix {
	border: 2px solid white !important;
	border-radius: 30px !important;
    width: 150px;
}
.zoom {
	transition: transform .2s;
}
.parent:hover .zoom,
.parent:focus .zoom{
	transform: scale(1.15)
}
@media (max-width:768px){
	.bg{
		height:500px;
		-webkit-height:500px;
	}
    .fix-position-1{
        width: 450px !important;
        margin-left: 35%;
		-webkit-width: 450px !important;
        -webkit-margin-left: 35%;
    }
    .text-decorate{
        position: absolute;
        padding-top: 15%;
        padding-left: 20%;
        z-index:2;
		-webkit-position: absolute;
        -webkit-padding-top: 15%;
        -webkit-padding-left: 20%;
        -webkit-z-index:2;
    }
    .scroll-downs{
        display: none !important;
		-webkit-display: none !important;
    }
}
@media (max-width:415px){
    .fix-position-1{
        width: 350px !important;
        margin-left: 35%;
        margin-top:33%;
		-webkit-width: 350px !important;
        -webkit-margin-left: 35%;
        -webkit-margin-top:33%;
    }
    .text-decorate{
        padding-top: 57%;
        padding-left: 6%;
		-webkit-padding-top: 57%;
        -webkit-padding-left: 6%;
    }
    .text-decorate h1,p{
        font-size:40px;
		-webkit-font-size:40px;
    }
    .btn-fix{
        display:none !important;
		-webkit-display:none !important;
    }
    #navbar-spy{
        top:-136px !important;
		-webkit-top:-136px !important;
    }
    .resize-text h1{
        font-size: 20px;
		-webkit-font-size: 20px;
    }
    .resize-text p{
        font-size:15px;
		-webkit-font-size:15px;
    }
    .resize-text{
        margin:0px auto;
		-webkit-margin:0px auto;
    }
    .line{
        position: absolute;
	    border-top: 0.5px solid lightgrey;
	    width: 120px;
	    margin-top: 5%;
        border-left: none !important;
		-webkit-position: absolute;
	    -webkit- border-top: 0.5px solid lightgrey;
	    -webkit-width: 120px;
	    -webkit-margin-top: 5%;
        -webkit-border-left: none !important;
    }
    .vertical-text {  
	writing-mode: horizontal-tb !important;
    transform:scale(1)!important;
    margin-top: 10%;
		-webkit-writing-mode: horizontal-tb !important;
    -webkit-transform:scale(1)!important;
    -webkit-margin-top: 10%;
    }
    .center-div{
       display: none !important;
		-webkit-display: none !important;
    }
    .filters{
        display: none !important;
		-webkit-display: none !important;
    }
    .icon-resize i{
        font-size:30px !important;
		-webkit-font-size:30px !important;
    }
    .icon-resize p{
        margin-bottom:10%;
        font-size:15px !important;
		-webkit-margin-bottom:10%;
        -webkit-font-size:15px !important;
    }
    .copyright p{
        font-size:15px !important;
		-webkit-font-size:15px !important;
    }
}

