/* CSS Document */
*{
	padding: 0px;
	margin: 0px;
}
body{
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";}
.Page-1{
	width: 100%;
	height: 700px;
	padding-top: 20px;
/*	margin-top: 20px;*/
	background-image:url("../Img/Hinh-1/Background/BG-1_1.png");
	background-size: 165%;
	background-position:5%;
	background-attachment: local;
	background-repeat: no-repeat;
	clear: both;
/*	background: red;*/
}
.inner-page-1{
	width:80%;
	margin: 0px auto;
}
.heading-1{
	width: 100%;
	clear: both;
}
.logo{
	width:10%;
	float: left;
/*	background-color: aqua;*/
}
.logo img{
	width:100%;
}
.menu-1{
	transition-duration: 1s;
	width:50%;
/*	background-color:red;*/
	float: left;
	margin-left: 3%;
	margin-top: 1%;
}
.menu-1 ul{
	list-style: none;
}
.menu-1 ul li{
	display: inline-block;
	width: 120px;
	height: 40px;
/*	background-color: aqua;*/
	text-align: center;

}
.menu-1 ul li a{
	text-decoration: none;
	line-height: 40px;
	display: block;
/*	background-color: antiquewhite;*/
	border-radius: 10px;
	color: #263238;
	transition-duration: 0.5s;
}
.menu-1 ul li a:hover{
	background:#E8505B;
	border-radius: 10px;
	color: white;
}
.login{
	transition-duration: 1s;
	float:right;
	width:30%;
	margin-right:5%;
	margin-top: 1%;
/*	background-color: aqua;*/
}
.login ul{
	list-style: none;
}
.login ul li{
	display: inline-block;
	width: 120px;
	height: 40px;
/*	background-color: antiquewhite;*/
	text-align: center;
	border-radius: 10px;
	border: solid 1.5px #E8505B;
	margin-left: 30px;
}
.login ul li a{
	display: block;
	color: #263238;
	line-height: 40px;
	text-decoration: none;
	transition-duration: 0.5s;
}
.login ul li a:hover{
	background:#E8505B;
	border-radius: 7px;
	color: white;
}
.body-1{
	width: 100%;
/*	background: #682627;*/
	float: left;
}
.text{
	transition-duration: 1s;
/*	background-color: aqua;*/
	width: 40%;
	margin-top: 5%;
	float:left;
}
.text p{
	font-size: 50px;
	font-weight:bold;
	color: #b0af9f;
}
.paragraph{
	margin-top: 8%;
	margin-bottom: 10%
}
.paragraph p{
	font-size: 20px;
	font-weight: normal;
	color: #263238;
}
.discover{
	text-align: center;
	height:40px;
	width:150px;
	background-color: #e8505b;
	border-radius: 10px;
	
}
.discover a{
	line-height: 40px;
	display: block;
	text-decoration: none;
	color:white;
	font-size: 18px;
	transition-duration: 0.2s;
	
}
.discover a:hover{
	border-radius: 10px;
	box-shadow: 0px 0px 8px 0.5px grey;
}
.pic{
	background-color: aqua;
	width: 50%;
	float:right;
	position:relative;
}
.main{
	position:absolute;
	width:40%;
	top: 80px;
	left: 200px;
	z-index: 2;
	animation: main 2s ;
	animation-direction:alternate-reverse;
	animation-iteration-count: infinite;
}
.item{
	position:absolute;
	width:65%;
	left: 165px;
	z-index: 1;
}
.lamp{
	width: 10%;
	position:absolute;
	left: 260px;
	top:30px;
	z-index: 3;
	animation: lamp 2s;
	animation-direction:alternate-reverse;
	animation-iteration-count: infinite;
}
.star{
	width: 60%;
	position:absolute;
	left: 150px;
	top:80px;
	z-index: 1;
	animation: star 3s;
	animation-direction: alternate-reverse;
	animation-iteration-count: infinite;
}
.book{
	width: 20%;
	position:absolute;
	left: 130px;
	top:210px;
	z-index: 3;
}
.planet{
	width: 15%;
	position:absolute;
	left: 100px;
	top:320px;
	z-index: 3;
}
.balloon{
	width: 20%;
	position:absolute;
	left: 400px;
	top:280px;
	z-index: 1;
}
@keyframes main{
	0%{top:90px;}
	100%{top:70px;}
}
@keyframes lamp{
	0%{top:40px;}
	100%{top:45px;}
}
@keyframes star{
	0%{top:70px;}
	100%{top:90px;}
}
.break{
	margin: 0px auto;
	width:8%;
	clear:both;
}
.content-1{
	width:80%;
	margin: 0px auto;
	text-align: center;
	padding-top:2%;
}
.content-1 p{
	font-weight: bold;
	font-size: 200%;
	color: #E8505B;
}
.inner-content-1{
	margin-top:5%;
	display: flex;
	justify-content: space-around;
}
.get-started{
	width:20%;
	text-align: center;
}
.get-img{
	margin: 0px auto;
	width:50%
}
.get-started b{
	color: #E8505B;
	font-size: 130%;
}
.get-started p{
	font-size: 15px;
	font-weight: normal;
	color: #263238;
}
.Page-3{
	width: 80%;
	padding-top: 5%;
	margin: 0px auto;
	clear:both;
}
.Page-3-right{
	width:40%;
	float:right;
}
.break-2{
	width:20%;
	margin-bottom: 8%;
	clear:both;
}
.learn-more{
	margin-top:3%;
	width:120px;
	height:40px;
	border-radius: 10px;
/*	background-color: #e8505b;*/
	text-align: center;
	position: absolute;
	z-index: 2;
}
.learn-more a{
	
	border-radius: 10px;
	line-height: 40px;
	display: block;
	text-decoration: none;
	color:#e8505b;
	transition-duration: 0.5s;
}
.learn-more a:hover{
	border-radius: 10px;
	background-color: #e8505b;
	color: white;
}
.Page-3-left{
	float:left;
	width:60%;
	background-color: antiquewhite;
}
.inner-page-3-left{
	width:60%;
	position: relative;
}
.behind{
	position: absolute;
}
.char-2{
	width:60%;
	position: absolute;
	left:80px;
	top:10px;
	animation: char-2 2s;
	animation-direction: alternate-reverse;
	animation-iteration-count: infinite;
}
.front{
	top:100px;
	position: absolute;
}
@keyframes char-2{
	0%{top:0px;}
	100%{top: 20px;}
}
.bg-page-3{
	position: absolute;
	width: 100%;
	z-index: 1;
	right:0;
}
.char-3{
	position: absolute;
	width:40%;
	right:0;
	top:1600px;
	z-index: 2;
}
.content-3{
	margin-top: 45%;
}
.break-3{
	width:8%;
	margin-bottom: 5%
	
}
.content-3 b{
	font-size: 30px;
	color:#263238;
}
.See-all{
	margin-top:3%;
	width:190px;
	height:40px;
	border-radius: 10px;
/*	background-color: #e8505b;*/
	text-align: center;
}
.See-all a{
	border-radius: 10px;
	line-height: 40px;
	display: block;
	text-decoration: none;
	color:#e8505b;
	transition-duration: 0.5s;
	width:190px;
	position: absolute;
	z-index: 3;
}
.See-all a:hover{
	border-radius: 10px;
	background-color: #e8505b;
	color: white;
}
.Page-4{
	width:100%;
	position: relative;
}
.hinh-3{
	width:100%;
}
.location-icon{
	width:3%;
	position: absolute;
	top:20%;
	left:30%;
	animation: icon 1.5s;
	animation-direction: alternate-reverse;
	animation-iteration-count: infinite;
}
@keyframes icon{
	0%{ top:20%;}
	100%{ top:25%;}
}.paragraph-3{
	float:right;
	width: 50%;
	position: absolute;
	right: 0;
	top:40%;
}
.paragraph-3 img{
	width: 30%;
	margin-right: 8%;	
}
.paragraph-3 p{
	color: #e8505b;
	font-size: 200%;
	font-weight: bold
}
.Page-5{
	width:100%;
	position:relative;
}
.ft-bg{
	width: 100%;
	position: absolute;
	bot:0;
}
.text-ft{
	position:absolute;
	width: 80%;
	z-index: 2;
	left:10%;
	padding-top: 10%;
}
.logo-ft{
	width:25%;
}
.ft-1{
	width:40%;
	float: left;
}
.ft-1 p{
	color: white;
}
.ft-2{
	width:30%;
	float: left;
	margin-bottom: 5%;
}
.ft-2 p{
	color: white;
}
.ft-2 h2{
	color: white;
}
.ft-3{
	width:30%;
	float: left;
	margin-bottom: 5%;
}
.ft-3 p{
	color: white;
}
.ft-3 h2{
	color: white;
}
.text-ft p{
	color: white;
}
.inc{
	float: left;
}
.social{
	float: right;
	width:25%;
}